name: Deploy to AWS

# Trigger this action only when we push to the main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    # Step 1: GitHub checks out your code to see what changed
    - name: Checkout Code
      uses: actions/checkout@v3

    # Step 2: GitHub logs into your EC2 server using the secrets you saved
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        # This part runs INSIDE your AWS server automatically:
        script: |
          sudo apt-get update -y
            sudo apt-get install -y git curl

            # 1. Install Docker Compose Manually (V2)
            sudo curl -SL https://github.com/docker/compose/releases/download/v2.24.0/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose

            # 2. THE FIX: Force kill ALL running containers to clear ports and names
            # The '|| true' part prevents the script from crashing if no containers are running
            sudo docker rm -f $(sudo docker ps -aq) || true

            # 3. Clean up old folder
            sudo rm -rf flask-docker-cicd

            # 4. Clone fresh code
            git clone https://github.com/amritseth/flask-docker-cicd.git
            cd flask-docker-cicd

            # 5. Start the app
            sudo docker-compose up -d --build
