<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amrit's DevOps Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="badge">Live on AWS</div>
            <h1>Automated Deployment Success! 🚀</h1>
            <p>
                Hello! This is a containerized Flask application. 
                It was deployed automatically using a <b>CI/CD pipeline</b> via GitHub Actions.
            </p>
            <div class="tech-stack">
                <span>Docker</span>
                <span>Flask</span>
                <span>GitHub Actions</span>
                <span>Nginx</span>
            </div>
            <a href="https://github.com/amrit-seth" target="_blank" class="btn">View My GitHub</a>
        </div>
    </div>
</body>
</html>
